<div class="grid grid-cols-2 gap-5 border p-3 rounded-lg">
  <div class="rounded-lg">
    <p-image
      [src]="car.imageVoiture"
      alt="Image"
      class="rounded-lg"
      width="400px"
    />
  </div>
  <div class="flex w-full flex-col space-y-4">
    <div class="flex flex-col">
      <span class="font-bold text-gray-500"
        >{{ car.brand }} - {{ car.model }}</span
      >
    </div>
    <div class="flex space-x-10">
      <div class="flex flex-col">
        <span class="text-xl font-bold">{{ car.registrationNumber }}</span>
        <span class="text-xs">Plaque</span>
      </div>
      <div class="flex flex-col">
        <span class="text-xl font-bold">{{ car.chassisNumber }}</span>
        <span class="text-xs">N-Chasis</span>
      </div>
    </div>
    <div class="grid grid-cols-2 gap-2">
      <div class="flex flex-col">
        <p-button
          icon="pi pi-bolt"
          outlined="variant"
          size="small"
          class="mb-2"
        />
        <span class="text-xl font-bold">{{ car.mileage }}</span>
        <span class="text-xs">Kilometrage</span>
      </div>
      <div class="flex flex-col">
        <p-button
          icon="pi pi-calendar"
          outlined="variant"
          size="small"
          class="mb-2"
        />
        <span class="text-xl font-bold">{{ car.year }}</span>
        <span class="text-xs">Annee</span>
      </div>
      <div class="flex flex-col">
        <p-button
          icon="pi pi-wrench"
          outlined="variant"
          size="small"
          class="mb-2"
        />
        <span class="text-xl font-bold">{{ car.type }}</span>
        <span class="text-xs">Type</span>
      </div>
    </div>
  </div>
</div>
