<div class="relative">
  <div id="map" style="height: 90vh; width: 100%" class="z-0"></div>
  <div
    class="flex flex-col space-y-4 bg-white-50 bg-white shadow p-5 absolute top-0 z-10 w-[280px]"
  >
    <div class="flex-col space-y-4">
      <p-floatlabel variant="on">
        <input
          pInputText
          id="Numero_plaque"
          autocomplete="off"
          class="flex w-full"
          [(ngModel)]="plaque_voiture"
          required
        />
        <label class="text-xs" for="Numero_plaque">Plaque voiture</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <input
          pInputText
          id="position_1"
          autocomplete="off"
          class="flex w-full"
          [(ngModel)]="value_position_actuel"
        />
        <label class="text-xs" for="position_1">Votre position</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <input
          pInputText
          id="position_2"
          autocomplete="off"
          class="flex w-full"
          [(ngModel)]="value_destination"
        />
        <label class="text-xs" for="position_2">Votre destination</label>
      </p-floatlabel>
      <button
        pButton
        *ngIf="destinationMarker === null"
        class="w-full"
        (click)="dorequest = true"
      >
        <span class="text-xs">Faire un demande</span>
      </button>
      <button
        pButton
        class="w-full"
        *ngIf="destinationMarker !== null"
        [disabled]="plaque_voiture === null"
        (click)="OnUseReqeustRemorque()"
        [loading]="useRequestRemorque.isPending()"
      >
        <span class="text-xs">Envoyer le demande</span>
      </button>
      <div class="mt-1">
        <span
          class="text-xs"
          *ngIf="dorequest === true && currentMarker === null"
          >Cliquer dans le carte ou est votre position actuel</span
        >
        <span
          class="text-xs"
          *ngIf="
            dorequest === true &&
            currentMarker !== null &&
            destinationMarker === null
          "
          >Cliquer dans le carte ou est votre destination</span
        >
        <div
          *ngIf="destinationMarker !== null && currentMarker !== null"
          class="flex flex-col space-y-2"
        >
          <div class="text-xs flex justify-between items-center">
            <span>Distance pour le Rm : </span>
            <span>{{ calculateDistance().km }} Km</span>
          </div>
          <div class="text-xs flex justify-between items-center">
            <span>Prix par Km : </span>
            <span>15 000 Ar</span>
          </div>
          <div class="text-xs flex justify-between items-center font-bold">
            <span>Prix a payer : </span>
            <span>{{ calculateDistance().price.toLocaleString() }} Ar</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
