<div class="grid grid-cols-3 gap-2">
  <div class="flex flex-col col-span-1 space-y-1">
    <div
      class="p-2 flex justify-between items-center rounded-lg border border-gray"
    >
      <span class="text-xs font-bold">Liste des problemes</span>
      <button pButton (click)="showDialog()">
        <i class="pi pi-plus-circle" pButtonIcon></i>
        <span pButtonLabel class="text-xs">new</span>
      </button>
    </div>
    <div *ngIf="onLoadinggetProblem()">
      <div
        class="rounded-lg border border-surface-200 dark:border-surface-700 p-6 bg-surface-0 dark:bg-surface-900"
      >
        <div class="flex mb-4 items-center">
          <p-skeleton shape="circle" size="3rem" styleClass="mr-2" />
          <div>
            <p-skeleton width="5rem" styleClass="mb-2" />
            <p-skeleton width="5rem" styleClass="mb-2" />
          </div>
        </div>
        <p-skeleton width="100%" height="100px" />
        <div class="flex justify-end mt-4">
          <p-skeleton width="4rem" height="2rem" />
        </div>
      </div>
    </div>
    <div *ngIf="onErrorgetProblem()" class="text-red-500">
      <p>Une erreur est survenue lors du chargement des problèmes.</p>
    </div>
    <div *ngIf="!onErrorgetProblem() && !onLoadinggetProblem()">
      <div class="flex flex-col space-y-1">
        <p-panel
          *ngFor="let problem of onusegetProblem() || []"
          [toggleable]="true"
        >
          <ng-template #header>
            <div class="flex items-center gap-2">
              <p-avatar
                [label]="getInitialName(problem.nameuser)"
                shape="circle"
              />
              <span class="font-bold text-sm">{{ problem.nameuser }}</span>
            </div>
          </ng-template>
          <ng-template #footer>
            <div class="flex flex-wrap items-center gap-4 justify-end">
              <span class="text-surface-500 dark:text-surface-400 text-xs">{{
                problem.datereportProblem | date : "dd/MM/yyyy hh:mm:ss"
              }}</span>
              <button pButton outlined="variant" (click)="ongetDevis(problem)">
                <i class="pi pi-money-bill" pButtonIcon></i>
                <span pButtonLabel class="text-xs">devis</span>
              </button>
            </div>
          </ng-template>
          <div>
            <p class="m-0 text-xs">{{ problem.description }}</p>
            <p class="text-xs">
              voiture : {{ problem.marquecar }}-{{ problem.modelcar }} ({{
                problem.yearcar
              }})
            </p>
          </div>
        </p-panel>
      </div>
    </div>
  </div>
  <div class="col-span-2">
    <app-invoice *ngIf="problem !== undefined" [problem]="problem" />
  </div>
</div>
<p-dialog
  header="Devis"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '30rem' }"
>
  <form (ngSubmit)="onUseSendRequestProblem()">
    <span class="p-text-secondary text-xs block mb-8"
      >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium
      quasi perspiciatis quaerat consequatur perferendis reprehenderit maiores,
      enim praesentium blanditiis, dolorum porro? Corrupti sapiente distinctio
      consequuntur vitae autem mollitia corporis. Perferendis?</span
    >
    <div class="flex flex-col gap-1 mb-4">
      <div *ngIf="onErrorCar()" class="text-red-500">
        <p>Une erreur est survenue lors du chargement des voitures.</p>
      </div>
      <div *ngIf="onLoadingCar()" class="text-red-500">
        <p-floatlabel class="w-full" variant="on">
          <p-select
            optionLabel="voiture"
            size="large"
            inputId="on_label"
            styleClass="w-full"
            name="voiture"
            loading="true"
          />
          <label for="on_label" class="text-sm">Voiture</label>
        </p-floatlabel>
      </div>
      <p-floatlabel
        *ngIf="!onLoadingCar() && !onErrorCar()"
        class="w-full"
        variant="on"
      >
        <p-select
          [(ngModel)]="selectedvoiture"
          [options]="onFetchedCar()"
          optionLabel="label"
          size="large"
          inputId="on_label"
          styleClass="w-full"
          name="model"
        />
        <label for="on_label" class="text-sm">voiture</label>
      </p-floatlabel>
    </div>
    <div class="flex flex-col gap-1 mb-8">
      <p-floatlabel variant="on">
        <textarea
          pTextarea
          id="over_label"
          [(ngModel)]="devis"
          rows="5"
          cols="30"
          style="resize: none"
          class="h-full w-full"
          name="devis"
        ></textarea>
        <label for="on_label" class="text-sm">Devis</label>
      </p-floatlabel>
    </div>
    <div class="flex justify-end gap-2">
      <button
        pButton
        class="text-xs"
        severity="secondary"
        (click)="visible = false"
      >
        <span pButtonLabel class="text-xs">cancel</span>
      </button>
      <button type="submit" pButton [loading]="isLoadingProblem()">
        <i class="pi pi-question-circle"></i>
        <span pButtonLabel class="text-xs">demander</span>
      </button>
    </div>
  </form>
</p-dialog>
