<div class="w-full">
    <div class="max-w-full p-2 md:p-4">
      <p-card>
        <ng-template #title>Les demandes de devis des clients</ng-template>
      </p-card>
    </div>
    <div class="flex flex-col md:flex-row gap-4 p-2 md:p-4">
      <div class="card w-full md:w-2/3">
        <p-card>
          <p-table
            class="border border-primary-200 shadow-lg overflow-x-auto"
            [value]="problemReports"
            selectionMode="single"
            [(selection)]="selectedProblem"
            dataKey="_id"
            (onRowSelect)="onRowSelect($event)"
            (onRowUnselect)="onRowUnselect($event)"
            [tableStyle]="{ 'min-width': '50rem' }"
          >
            <ng-template #header>
              <tr>
                <th>Utilisateur</th>
                <th>Véhicule</th>
                <th>Date de soumission</th>
              </tr>
            </ng-template>
  
            <ng-template #body let-problem>
              <tr [pSelectableRow]="problem">
                <td>{{ problem.userId }}</td>
                <td>{{ problem.carId }}</td>
                <td>{{ problem.createdAt | date : "dd/MM/yyyy HH:mm" }}</td>
              </tr>
            </ng-template>
          </p-table>
        </p-card>
      </div>
  
      <div class="w-full md:w-1/3 mb-4">
        <p-card *ngIf="selectedProblem; else emptyCard" class="w-full md:w-96">
          <ng-template #header>
            <p-carousel
              *ngIf="selectedProblem.images.length > 0"
              [value]="selectedProblem.images"
              [numVisible]="1"
              [numScroll]="1"
            >
              <ng-template let-image pTemplate="item">
                <img
                  [src]="image"
                  alt="Image du problème"
                  class="w-full h-40 md:h-48 object-cover rounded-lg"
                />
              </ng-template>
            </p-carousel>
            <img
              *ngIf="!selectedProblem.images?.length"
              alt="Aucune image"
              class="w-full h-40 md:h-48 object-cover rounded-lg"
              src="https://via.placeholder.com/400?text=Aucune+image"
            />
          </ng-template>
          <ng-template #title> Details du probleme </ng-template>
          <ng-template #subtitle
            >Du :
            {{ selectedProblem.datereportProblem | date : "dd/MM/yyyy HH:mm" }}
          </ng-template>
          <p>
            {{ selectedProblem.description }}
          </p>
          <ng-template #footer>
            <div class="flex gap-4 mt-1">
              <p-button
                label="Creer un devis"
                class="w-full"
                styleClass="w-full"
                (onClick) = "redirectToCreateDevis()"
              />
            </div>
          </ng-template>
        </p-card>
  
        <ng-template #emptyCard>
          <p-card class="w-full md:w-96">
            <ng-template #title> Aucun problème sélectionné </ng-template>
            <p>Veuillez sélectionner un problème pour voir les détails.</p>
          </p-card>
        </ng-template>
      </div>
    </div>
  </div>