<div class="p-2 border rounded-lg flex justify-between gap-2 items-center mb-1">
  <span class="text-sm">{{ problem.description }}</span>
  <button pButton [outlined]="true" (click)="showDialog()">
    <i class="pi pi-plus-circle" pButtonIcon></i>
    <span class="text-xs" pButtonLabel> Devis </span>
  </button>
</div>
<p-skeleton
  *ngIf="onLoadinggetDevisByProblem()"
  height="20rem"
  class="flex w-full mb-2"
/>
<div *ngIf="!onLoadinggetDevisByProblem() && !onErrorgetDevisByProblem()">
  <div
    *ngIf="onUsegetDevisByProblem() as devis"
    class="header border border-gray rounded-lg p-2 flex gap-4"
  >
    <p-floatlabel class="w-full md:w-40" variant="on">
      <p-select
        [(ngModel)]="selectedDevis"
        [options]="devis"
        optionLabel="_id"
        class="text-xs"
        size="large"
        inputId="on_label"
        styleClass="w-full"
      />
      <label for="on_label">Version</label>
    </p-floatlabel>
  </div>
  <div
    *ngIf="selectedDevis === undefined"
    class="p-5 border border-gray rounded-lg mt-1"
  >
    <span class="text-sm"> Aucun version de devis selectionner </span>
  </div>
  <div *ngIf="selectedDevis !== undefined" class="flex justify-end p-2 gap-2">
    <p-button
      [outlined]="true"
      (click)="visible = true"
      [badge]="selectedDevis.commentaire.length.toString()"
      icon="pi pi-comment"
      label="Commentaire"
    />
    <button pButton>
      <i class="pi pi-file-export" pButtonIcon></i>
      <span class="text-xs" pButtonLabel> exporter </span>
    </button>
  </div>
  <div
    *ngIf="selectedDevis !== undefined"
    class="p-5 border border-gray rounded-lg min-h-[500px] mt-1"
  >
    <div class="flex justify-between text-gray-400 items-center">
      <div class="flex flex-col text-xs space-y-1">
        <span>client</span>
        <span class="text-sm font-bold text-black">{{
          selectedDevis.nameuser
        }}</span>
        <span
          >{{ selectedDevis.marquecar }} {{ selectedDevis.modelcar }} ({{
            selectedDevis.yearcar
          }})</span
        >
      </div>
      <div class="flex flex-col text-xs space-y-1 text-right">
        <span>Balance Duo</span>
        <span class="text-3xl text-black font-bold"
          >{{ selectedDevis.totalprice }} Ar</span
        >
        <span
          >Estimation de reparation :
          {{ selectedDevis.estimationtime }} min</span
        >
        <span>Date : {{ selectedDevis.datequote | date : "dd/MM/yyyy" }}</span>
      </div>
    </div>
    <p-divider align="left" type="solid">
      <span class="text-xs">travaux a faire</span>
    </p-divider>
    <p-table [value]="selectedDevis.repair">
      <ng-template #header>
        <tr class="text-sm">
          <th>Reparation</th>
          <th>Description</th>
          <th>Quantite</th>
          <th>Cost</th>
          <th>Total Cost</th>
        </tr>
      </ng-template>
      <ng-template #body let-rowData>
        <tr class="text-sm">
          <td>{{ rowData.subcategoryname }}</td>
          <td>{{ rowData.description }}</td>
          <td>{{ rowData.nbrepair }}</td>
          <td>{{ rowData.estimatedprice }}</td>
          <td>{{ rowData.nbrepair * rowData.estimatedprice }}</td>
        </tr>
      </ng-template>
    </p-table>
    <p-divider align="left" type="solid">
      <span class="text-xs">Piece necessaire</span>
    </p-divider>
    <p-table [value]="selectedDevis.items">
      <ng-template #header>
        <tr class="text-sm">
          <th>Nom du piece</th>
          <th>Quantite</th>
          <th>Cost</th>
          <th>Total cost</th>
        </tr>
      </ng-template>
      <ng-template #body let-rowData>
        <tr class="text-sm">
          <td>{{ rowData.partname }}</td>
          <td>{{ rowData.quantite }}</td>
          <td>{{ rowData.price }}</td>
          <td>{{ rowData.price * rowData.quantite }} Ar</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<p-drawer
  header="Commentaire"
  [(visible)]="visible"
  styleClass="!w-full md:!w-80 lg:!w-[30rem]"
  position="right"
  *ngIf="selectedDevis !== undefined"
>
  <form action="">
    <p-floatlabel variant="in">
      <textarea
        pTextarea
        id="over_label"
        [(ngModel)]="commentaire"
        rows="5"
        cols="30"
        style="resize: none"
        class="h-full w-full"
        placeholder="...."
        name="commentaire"
      >
      </textarea>
      <label for="in_label">commentaire</label>
    </p-floatlabel>
    <div class="flex justify-end">
      <p-button
        icon="pi pi-send"
        iconPos="right"
        (click)="onUseSendCommentaire()"
        [loading]="useSendCommentaire.isPending()"
        label="Envoyer"
        size="small"
        [disabled]="commentaire === undefined"
      />
    </div>
  </form>
  <div class="mt-4 flex flex-col space-y-1">
    <p-panel
      *ngFor="let element of selectedDevis.commentaire.slice().reverse()"
    >
      <ng-template #header>
        <div class="flex justify-between items-center">
          <div class="flex items-center gap-2">
            <p-avatar
              [label]="
                element.providerClient
                  ? getInitialName(selectedDevis.nameuser)
                  : 'G'
              "
              shape="circle"
            />
            <span class="font-bold text-sm">
              {{ element.providerClient ? selectedDevis.nameuser : "Garage" }}
            </span>
          </div>
        </div>
      </ng-template>
      <ng-template #footer>
        <div class="flex justify-end">
          <span class="text-xs">{{
            element.datecomment | date : "dd/MM/yyyy hh:mm"
          }}</span>
        </div>
      </ng-template>
      <p class="text-xs">
        {{ element.comment }}
      </p>
    </p-panel>
  </div>
</p-drawer>
<p-dialog
  header="Generer devis"
  [modal]="true"
  [(visible)]="visible_modal"
  [style]="{ width: '60rem' }"
>
  <div class="grid grid-cols-3 gap-2">
    <div class="col-span-2 border rounded-lg p-2">
      <p-divider>
        <span class="text-xs">Piece a fournir</span>
      </p-divider>
      <div class="flex gap-1">
        <input
          pInputText
          type="text"
          class="w-5/6"
          placeholder="nom du piece"
          [(ngModel)]="search_part"
        />
        <p-button
          icon="pi pi-search"
          label="search"
          (onClick)="onusegetSearchPart()"
        />
      </div>
      <div *ngIf="onLoadinggetSearchPart()">
        <p-skeleton styleClass="mb-2" />
        <p-skeleton width="10rem" styleClass="mb-2" />
        <p-skeleton height="2rem" styleClass="mb-2" />
      </div>
      <div
        *ngIf="!onLoadinggetSearchPart() && !onErrorgetSearchPart()"
        class="mt-1 flex flex-col gap-1"
      >
        <div
          class="flex justify-between items-center p-2 border rounded-lg"
          *ngFor="let part of parts"
        >
          <div class="flex flex-col">
            <span class="font-bold text-black text-sm">{{
              part.partName
            }}</span>
            <span class="text-xs">{{ part.description }}</span>
          </div>
          <div class="flex gap-2 items-center">
            <span class="text-sm text-black font-bold"
              >{{ part.price }} Ar</span
            >
            <p-button
              icon="pi pi-plus-circle"
              size="small"
              outlined="variant"
              (onClick)="addPartToDevis(part)"
            />
          </div>
        </div>
      </div>
      <p-divider>
        <span class="text-xs">Travaille a faire</span>
      </p-divider>
      <div class="flex gap-1">
        <input
          pInputText
          type="text"
          class="w-5/6"
          placeholder="Travaille a faire"
          name="service"
          [(ngModel)]="search_service"
        />
        <p-button
          icon="pi pi-search"
          label="search"
          (onClick)="onusegetSearchService()"
        />
      </div>

      <div *ngIf="onLoadinggetSearchService()">
        <p-skeleton styleClass="mb-2" />
        <p-skeleton width="10rem" styleClass="mb-2" />
        <p-skeleton height="2rem" styleClass="mb-2" />
      </div>
      <div
        *ngIf="!onLoadinggetSearchService() && !onErrorgetSearchService()"
        class="flex flex-col gap-1 mt-1"
      >
        <div
          class="flex justify-between items-center p-2 border rounded-lg"
          *ngFor="let service of services"
        >
          <div class="flex flex-col">
            <span class="font-bold text-black text-sm">{{
              service.categoryname
            }}</span>
            <span class="text-xs">{{ service.name }}</span>
          </div>
          <div class="flex gap-2 items-center">
            <span class="text-sm text-black font-bold"
              >{{ service.estimatedprice }} Ar</span
            >
            <p-button
              icon="pi pi-plus-circle"
              size="small"
              outlined="variant"
              (onClick)="addServiceToDevis(service)"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-1 p-2 border border-gray rounded-lg">
      <div class="flex justify-center">
        <span class="text-sm">Liste de choses a faire</span>
      </div>
      <p-divider><span class="text-xs">Piece</span></p-divider>
      <div class="flex flex-col gap-1">
        <div
          class="flex justify-between items-center p-2 border rounded-lg"
          *ngFor="let part of parts_devis"
        >
          <div class="flex flex-col">
            <span class="text-black text-sm">{{ part.partName }}</span>
            <span class="text-sm text-black font-bold"
              >{{ part.price }} Ar</span
            >
          </div>
          <div class="flex gap-2 items-center">
            <input
              pInputText
              type="number"
              placeholder="Qtte"
              size="small"
              style="width: 4rem"
              min="1"
              [(ngModel)]="part.quantite_devis"
            />
          </div>
        </div>
      </div>
      <p-divider><span class="text-xs">Travaille</span></p-divider>
      <div class="flex flex-col gap-1">
        <div
          class="flex flex-col p-2 border rounded-lg"
          *ngFor="let service of services_devis"
        >
          <div class="flex justify-between items-center">
            <div class="flex flex-col">
              <span class="text-xs">{{ service.name }}</span>
              <span class="text-sm text-black font-bold"
                >{{ service.estimatedprice }} Ar</span
              >
            </div>
            <div class="flex gap-2 items-center">
              <input
                pInputText
                type="number"
                placeholder="Qtte"
                size="small"
                style="width: 4rem"
                min="1"
                [(ngModel)]="service.quantite_service"
              />
            </div>
          </div>
          <div class="mt-2">
            <p-floatlabel variant="on">
              <textarea
                rows="2"
                pTextarea
                class="text-xs w-full"
                [(ngModel)]="service.description_service"
              ></textarea
              ><label for="on_label" class="text-xs">description</label>
            </p-floatlabel>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-end gap-2 mt-5">
    <p-button
      label="Cancel"
      severity="secondary"
      (click)="visible_modal = false"
    />
    <button
      pButton
      (click)="onusegetCreateQuote()"
      [loading]="usegetCreateQuote.isPending()"
    >
      <span class="text-xs">Valider</span>
    </button>
  </div>
</p-dialog>
