/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("assets/Poppins/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

/* Application de la police */
body {
  font-family: "Poppins", sans-serif;
}
